# INM701 Introduction to AI Final Coursework
# by Sean Lim Wang Jun

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [101]:
data=pd.read_csv("stroke_prediction_dataset.csv")

# data.head()
data=data.drop(['Patient ID','Patient Name'],axis=1)

data["Gender"]=np.where(data["Gender"]=="Female",0,1)

data['Married']=np.where(data['Marital Status']=='Married',1,0)
data['Divorced']=np.where(data['Marital Status']=='Divorced',1,0)
dummies=pd.get_dummies(data['Work Type'],dtype=float)
data=data.join(dummies)
data=data.drop(['Marital Status','Work Type'],axis=1)

data['Residence Type']=np.where(data['Residence Type']=='Rural',0,1)

smoking_cond=[data['Smoking Status']=='Non-smoker',data['Smoking Status']=='Formerly Smoked',data['Smoking Status']=='Currently Smokes']
smoking_dec=[0,0.5,1]
data['Smoking Status']=np.select(smoking_cond,smoking_dec,default='unknown')


data.head()
# data["Marital Status"]=np.where(data["Marital Status"]==)

,Age,Gender,Hypertension,Heart Disease,Residence Type,Average Glucose Level,Body Mass Index (BMI),Smoking Status,Alcohol Intake,Physical Activity,...,Blood Pressure Levels,Cholesterol Levels,Symptoms,Diagnosis,Married,Divorced,Government Job,Never Worked,Private,Self-employed
0,56,1,0,1,0,130.91,22.37,0,Social Drinker,Moderate,...,140/108,"HDL: 68, LDL: 133","Difficulty Speaking, Headache",Stroke,1,0,0.0,0.0,0.0,1.0
1,80,1,0,0,1,183.73,32.57,0,Never,Low,...,146/91,"HDL: 63, LDL: 70","Loss of Balance, Headache, Dizziness, Confusion",Stroke,0,0,0.0,0.0,0.0,1.0
2,26,1,1,1,0,189.00,20.32,0.5,Rarely,High,...,154/97,"HDL: 59, LDL: 95","Seizures, Dizziness",Stroke,1,0,0.0,1.0,0.0,0.0
3,73,1,0,0,1,185.29,27.50,0,Frequent Drinker,Moderate,...,174/81,"HDL: 70, LDL: 137","Seizures, Blurred Vision, Severe Fatigue, Head...",No Stroke,1,0,0.0,1.0,0.0,0.0
4,51,1,1,1,1,177.34,29.06,1,Rarely,Low,...,121/95,"HDL: 65, LDL: 68",Difficulty Speaking,Stroke,0,1,0.0,0.0,0.0,1.0

,Patient ID,Patient Name,Age,Gender,Hypertension,Heart Disease,Marital Status,Work Type,Residence Type,Average Glucose Level,...,Stroke History,Family History of Stroke,Dietary Habits,Stress Levels,Blood Pressure Levels,Cholesterol Levels,Symptoms,Diagnosis,Married,Divorced
0,18153,Mamooty Khurana,56,1,0,1,Married,Self-employed,Rural,130.91,...,0,Yes,Vegan,3.48,140/108,"HDL: 68, LDL: 133","Difficulty Speaking, Headache",Stroke,1,0
1,62749,Kaira Subramaniam,80,1,0,0,Single,Self-employed,Urban,183.73,...,0,No,Paleo,1.73,146/91,"HDL: 63, LDL: 70","Loss of Balance, Headache, Dizziness, Confusion",Stroke,0,0
2,32145,Dhanush Balan,26,1,1,1,Married,Never Worked,Rural,189.00,...,0,Yes,Paleo,7.31,154/97,"HDL: 59, LDL: 95","Seizures, Dizziness",Stroke,1,0
3,6154,Ivana Baral,73,1,0,0,Married,Never Worked,Urban,185.29,...,0,No,Paleo,5.35,174/81,"HDL: 70, LDL: 137","Seizures, Blurred Vision, Severe Fatigue, Head...",No Stroke,1,0
4,48973,Darshit Jayaraman,51,1,1,1,Divorced,Self-employed,Urban,177.34,...,0,Yes,Pescatarian,6.84,121/95,"HDL: 65, LDL: 68",Difficulty Speaking,Stroke,0,1